/* CSS novo */

dialog {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    top: 40%;
    position: fixed;
    border-radius: 8px;
    border-color: rgb(0 0 0 / 6%);
    z-index: 9;
   }
   
   dialog button {
       padding: 8px 6px;
       text-align: center;
       border: none;
       border-radius: 5px;
       width: 60px;
       cursor: pointer;
       font-size: 15px;
       line-height: 20px;
       font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
   }

   dialog p {
       padding-right: 20px;
       font-weight: 500;
       font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
   }

.backDialog { 
    top: 0;
    position: fixed;
    background-color: #9e9ea7;
    opacity: 75%;
    width: 100%;
    height: 100%;
    
}
.show-search{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
}
#img-search {
   position: relative;
    width: 100%;
    min-height: 360px;
    background-color: #fd507e;
}
#img-search img{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}
#img-search div {
    display: block;;
    width: 100%;
    position: absolute;
    color: #fff;
    text-align: center;
    top: 25%;
}
#img-search div h1 {
    font-size: 48px;
}
#img-search div p {
    display: block;
    text-align: center;
    font-size: 20px;
}
#formSearch {
    margin-top: -32px;
    width: 100%;
    max-width: 628px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    height: 64px;
    border-radius: 8px;
    background-color: rgb(238, 237, 237);
    box-shadow: 0px 8px 20px rgb(0 0 0 / 6%);
    padding-left: 28px;
}

.upload {
    width: 100%;
    max-width: 628px;
}

.upload input {
    height: 64px;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
}

#formSearch form {
    width: 100%;
}

#formSearch input {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0;
    padding-right: 24px;
    padding-left: 30px;
    background: #fff;
    background: transparent;
    font-size: 16px;
    height: 64px;
    border: 0 none;
    outline: 0;
    box-shadow: 0 0 0 0;
}
#avatar {
    display: flex;
    align-items: center;
    margin: 0px 10px;
}
#avatar-img{
    border-radius: 50%;
}
.bloco-login {
    display: block;
    width: 100%;
    max-width: 416px;
    margin: 0;
    padding: 0;
}

.bloco-login a { 
    text-decoration: none;
    color: #4f3cc9;
}

label { 
    display: block; 
    margin: 14px 0 4px;
    color: #0d0c22;
    font: bold 15px/24px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif; ;
}
input, #input-button {
    width: 100%;
    display: inline-block;
    margin-right: 8px;
    background-color: #f3f3f4;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,0);
    font-size: 14px;
    padding: 10px 16px;
    box-sizing: border-box;
}
fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

.button-sub, #input-button {
    font-weight: 500;
    line-height: 20px;
    /* max-width: 200px; */
    margin-top: 22px;
    background-color: #ea4c89;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 15px;
}



/* Fim do CSS novo  */

html {
    display: block;
    height: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    height: 100%;
    margin: 0px;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 28px;
    font-weight: 400;
    font-size: 16px;
}

.header1 {
    margin: 0px 24px;
    height: 80px;
}

.menu ul,
.menu ul li {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    font-weight: 500;
}

.menu ul li a {
    cursor: pointer;
    display: block;
    color: #6e6d7a;
    font-weight: 500;
    text-decoration: none;
    line-height: 20px;
    align-items: center;
    font-size: 15px;
    border: #6e6d7a;
}

.right {
    height: 80px;
    float: right;
    align-items: center;
    display: flex;
}

header .nav-1 {
    height: 80px;
    float: left;
    display: flex;
    align-items: center;
    line-height: 20px;
}

.menu .logo {
    margin-right: 16px;
    vertical-align: middle;
}

.menu .lista li {
    padding: 0px 16px;
}

.bloco div p {
    margin: 16px 0px;
    font-size: 17px;
    line-height: 28px;
    vertical-align: baseline;
    text-align: left;
}

.bloco .bloco-int h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 700;
    padding: 0px;
    margin: 0px;
    vertical-align: baseline;
    text-align: left;
}

.bloco {
    height: 480px;
    width: 100%;
    background: #F9F8FD;
}

.bloco-i {
    display: flex;
    align-items: center;
    vertical-align: baseline;
}

.art {
    display: flex;
    align-items: flex-end;
    width: auto;
    display: flex;
    flex-direction: column;
}

.bloco .bloco-int {
    align-items: flex-start;
    text-align: left;
    display: block;
    max-width: 624px;
}

.bloco .bloco-int a {
    color: #fff;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    height: 40px;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    outline: none;
    background: #ea4c89;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    vertical-align: baseline;
}

.lista ul {
    display: flex;
}

.right ul {
    display: flex;
    align-items: center;
}

.right #Sign-in {
    font-size: 16px;
}

.right .ul-2-right #Sign-up {
    display: block;
    padding: 10px 16px;
    background: #ea4c89;
    border-radius: 8px;
    color: #fff;
    font-size: 15px;
    transition: color 200ms ease;
}

.icon {
    color: #9e9ea7;
    vertical-align: middle;
    fill: currentColor;
}

.right .ul-2-left {
    margin-right: 10px;
    cursor: pointer;
}

.right .ul-2-middle {
    margin: 0px 10px;
}

.right .ul-2-right {
    margin-left: 10px;
    height: 40px;
    display: inline-block;
}

main {
    padding: 32px 72px 0px 72px;
}

main header {
    padding-bottom: 32px;
    position: relative;
    display: block;
    justify-content: space-between;
    height: 40px;
}

main header div {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.site-nav-logo {
    vertical-align: middle;
}

.lista {
    float: flex;
}

.principal {
    padding-inline-start: 0px;
    margin-top: 0px;
    display: grid;
    grid-gap: 36px;
    grid-template-columns: repeat(auto-fill, minmax(336px, 1fr));
    list-style: none;
}

main a img {
    width: auto;
    height: auto;
}

main a video {
    width: 100%;
    border-radius: 8px;
}

#pop-btn {
    width: 150px;
    display: inline-block;
    margin-right: 40px;
}

#pop-btn span {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    width: 100%;
}

#pop-btn #pop {
    display: inline-block;
    width: 115px;
}

#pop-btn a {
    width: auto;
    position: relative;
    margin: 0px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    text-align: left;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px #e7e7e9 inset;
    padding: 10px 35px 10px 16px;
    text-decoration: none;
    cursor: pointer;
    color: #6e6d7a;
}

#by,
#by a {
    margin-top: 20px;
    color: rgb(158, 158, 167);
    font-size: 14.5px;
}

#pop-btn svg {
    position: absolute;
    float: right;
    right: 15px;
    width: 10px;
    height: 10px;
    margin: 0;
    color: rgb(110, 109, 122);
    cursor: pointer;
    fill: rgb(158, 158, 167);
    font-size: 14px;
    font-weight: 400;
    align-items: center;
    line-height: 20px;
    text-align: left;
}

.menu-main {
    display: block;
}

.menu-main ul li a {
    display: block;
    padding: 10px 12px;
    font-size: 15px;
}

.main-img {
    position: relative;
    height: 0;
    padding-bottom: 75%;
    overflow: hidden;
    border-radius: 8px;
}

.icon-main-img {
    padding: 0px 12px;
    display: flex;
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 40px;
    align-items: center;
    justify-content: flex-end;
}

.icon-main-img div {
    display: flex;
    position: absolute;
    justify-content: flex-end;
    padding: 4px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background: #fff;
    font-size: 12px;
    line-height: 16px;
}

.icon-main-img div svg {
    color: rgb(13, 12, 34);
}

#filter {
    display: inline-block;
    width: 200px;
    display: inline-block;
    text-decoration: none;
    color: #0d0c22;
}

#filter a {
    align-items: center;
    display: flex;
    float: right;
    padding: 10px 16px;
    text-decoration: none;
    color: rgb(13, 12, 34);
    box-shadow: 0px 0px 0px 1px #e7e7e9 inset;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
}

#filter svg {
    color: rgb(13, 12, 34);
    width: 13px;
    height: 13px;
    margin-right: 6px;
    margin-top: -2px;
}

#all {
    background: rgba(13, 12, 34, 0.05);
    border-radius: 8px;
    font-weight: 500;
    color: rgb(13, 12, 34);
}

.main-left img {
    vertical-align: middle;
    height: 24px;
    border-radius: 50%;
}

.principal li .inline-block {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
}

.inline-block a {
    text-decoration: none;
}

.main-left-span1 {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    cursor: pointer;
    font-weight: 550;
    vertical-align: baseline;
    margin-left: 8px;
    color: #0d0c22;
}

.main-left {
    display: flex;
    align-items: center;
    line-height: 28px;
    text-align: left;
}

.main-left-a {
    margin-left: 8px;
}

.main-left-a1 {
    display: flex;
    align-items: center;
}

.main-left-span2 {
    border-radius: 3px;
    font-size: 11px;
    line-height: 1;
    padding: 2px 3px;
    font-weight: bold;
    background: #ccc;
    color: #fff;
    cursor: pointer;
    text-align: left;
    vertical-align: baseline;
}

.main-right {
    display: flex;
    line-height: 16px;
    justify-content: flex-end;
    font-size: 12px;
    color: #3d3d4e;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-right svg {
    align-items: center;
    width: 14px;
    height: 14px;
    margin-right: 4px;
}

.main-right1 {
    display: flex;
}

.main-right3,
.main-right2 {
    display: inline-flex;
    align-items: left;
    margin-left: 8px;
    text-align: left;
}

.boosted {
    right: 0;
    color: #9e9ea7;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.icon-oculto {
    display: none;
}

@media only screen and (max-width: 412px) {
    .icon-oculto {
        align-items: center;
        display: flex;
        color: rgb(158, 158, 167);
        height: 60px;
        width: 18px;
        cursor: pointer;
    }

    main {
        padding: 0px;
        height: 100%;
        padding-bottom: 5px;
    }

    .lista,
    .menu .ul-2-left,
    .menu .ul-2-right {
        display: none;
    }

    .bloco {
        height: auto;
        justify-content: start;
    }

    .bloco-i {
        flex-direction: column-reverse;
        padding: 40px 20px;
    }

    .art,
    .art img {
        align-items: center;
        width: 100%;
        object-fit: contain;
    }

    .art img {
        height: 300px;
    }

    .header1 .nav-1,
    .header1 .right {
        height: 60px;
        display: flex;
        justify-content: space-between;
    }

    .header1 {
        height: 60px;
    }

    .menu .logo {
        display: inherit !important;
        position: absolute;
        width: 85px;
        height: 60px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .logo svg {
        height: 60px;
    }

    .bloco .bloco-int {
        height: 100%;
        margin: 0px;
        margin-top: 20px;
        text-align: center;
    }

    .bloco .bloco-int h1 {
        text-align: center;
        font-size: 25px;
        font-weight: 700;
        line-height: 29px;
    }

    .bloco .bloco-int p {
        font-size: 16px;
        margin: 16px 0px;
        text-align: center;
    }

    .header-main {
        position: relative;
        padding: 16px 20px 0px;
        display: block;
    }

    .header-main::-webkit-scrollbar {
        display: none;
    }

    .header-main {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    main header {
        height: auto;
        padding: 0px;
    }

    main ul {
        white-space: nowrap;
        flex-wrap: wrap;
    }

    #pop-btn {
        width: auto;
        display: block;
        margin-right: 15px;
    }

    .menu-main {
        position: relative;
        display: block;
        margin: 15px -15px 0;
        padding: 15px 0 0;
        order: 3;
        overflow-x: auto;
        overflow-y: hidden;
        border-top-width: 1px;
        border-top-color: rgb(243, 243, 244);
        border-top-style: solid;
    }

    #filter {
        width: auto;
        flex: 0 0 auto;
        order: 2;
        display: flex;
        justify-content: flex-end;
        margin: 0px;
    }

    .main {
        padding-top: 15px;
        width: auto;

    }

    .principal {
        position: relative;
        display: grid;
        grid-gap: 36px;
        padding: 0px 20px;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    }

    .main-img img { width: 100%; }
}

@media only screen and (min-width: 768px) {
    .bloco-i {
        padding: 0px 32px;
        max-width: 1680px;
        height: 480px;
        flex-direction: row;
        justify-content: space-between;
    }

    .art img {
        width: 400px;
        height: 360px;
        object-fit: contain;
    }
}

@media only screen and (min-width: 1348px) {
    .bloco-i {
        padding: 0px 72px;
    }

    .bloco-int {
        margin: 0px;
    }

    .art img {
        width: 510px;
        height: 360px;
    }

    .principal {
        position: relative;
        display: grid;
        grid-gap: 36px;
        padding-bottom: 20px;
        grid-template-columns: repeat(auto-fill, minmax(274px, 1fr));
    }
}

@media only screen and (min-width: 1580px) {
    .bloco-i {
        margin: 0px 111.5px;
    }

    .bloco-int {
        margin-left: 100px;
    }

    .art img {
        width: 510px;
        height: 360px;
    }

    .principal {
        position: relative;
        display: grid;
        grid-gap: 36px;
        padding-bottom: 20px;
        grid-template-columns: repeat(auto-fill, minmax(371px, 1fr));
    }
}


.bloco-log {
    height: 100%;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.none { display: none; }

.upload form input {
    width: 100%;
    display: inline-block;
    margin-top: 10px;
    background-color: #f3f3f4;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0,0,0,0);
    font-size: 14px;
    box-sizing: border-box;
}

.upload form .arquivo { padding-top: 20px; }

.upload .button-sub {
    font-weight: 500;
    line-height: 20px;
    background-color: #ea4c89;
    padding: 10px 16px;
    border: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 20px;
}

#checkbox {
    display: block;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

#checkbox label {
    align-items: flex-start;
    font: bold 15px/24px "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 10px;
    text-align: left;
    display: inline-block;
    width: auto;

}

#checkbox input { 
    display: inline-block;
    align-items: flex-end;
    width: 18px;
    height: 18px;
 
}

a { cursor: pointer; }

#result-users {
    text-decoration: none;
    text-align: center;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #3a3a3d;
    font-weight: 500;
    line-height: 20px;
    font-size: 16px;
}
